<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF5ly-EldAN8kiig0zDmlYexHVXeP22T4</string>
	<key>GCM_SENDER_ID</key>
	<string>1007062535933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.Ecommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-96268</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-96268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007062535933:ios:520e9cb330da2dc56a3894</string>
</dict>
</plist>